In [ ]:
## Scenario -- 
## A grocery store has assigned you a dataset to perform exploratory data analysis and help them find ways to better spend their marketing budget.

In [ ]:
# OVERALL FINDINGS

#### 1. Age - 30-70 Were spending more money, but less likely to accept campaigns. Higher volume here though.
#### 2. Catalog was more likely to accept campaigns but in-person spends more, rec a split between all.
#### 3. 40% catalog, 30% store, 30% web
#### 4. Focus on people with no or less kids
#### 5. Education - no impact - don't target any group
#### 6. Marital Status - Doesnt play a big part

In [ ]:
### Recommendations
#### 1. Middle Aged People, High Earners, With no kids. Target on different platforms with split above.
#### 2. Getting new users to spend money - Focus on 21-30 and 70+ who statistically accepted campaigns at a higher rate.

In [ ]:
import pandas as pd

In [ ]:
food = pd.read_csv(r'C:\Users\Trevo\OneDrive\Python tutorial Folder\u_food_marketing.csv')

In [ ]:
food.head()

In [ ]:
pd.set_option('display.max.rows', 2300)
pd.set_option('display.max.columns', 50)

In [ ]:
food.drop_duplicates(keep = False, inplace = True)

In [ ]:
food['Total_Children'] = food[['Kidhome', 'Teenhome']].sum (axis = 1)

In [ ]:
food.reset_index(drop=True, inplace=True)

In [ ]:
food

In [ ]:
food['marital_Divorced'] = food['marital_Divorced'].replace({1:5, 0:0})

In [ ]:
# CORRECT: This will return a DataFrame containing ALL columns 
# for the rows where 'marital_Divorced' is not equal to 0.

food[food['marital_Divorced'] != 0].head()

In [ ]:
food['marital_Divorced'] = food['marital_Divorced'].replace({1:5, 0:0})
food['marital_Married'] = food['marital_Married'].replace({1:4, 0:0})
food['marital_Single'] = food['marital_Single'].replace({1:3, 0:0})
food['marital_Together'] = food['marital_Together'].replace({1:2, 0:0})
food['marital_Widow'] = food['marital_Widow'].replace({1:1, 0:0})

In [ ]:
food['marital_Status'] = food [['marital_Widow', 'marital_Divorced', 'marital_Married', 'marital_Single', 'marital_Together' ]].sum(axis = 1)

In [ ]:
food[food['Accepted_campaigns'] != 0].head()

In [ ]:
food['marital_Status_str'] = food['marital_Status'].map({5: 'Divorced', 4: 'Married', 3: 'Single', 2: 'Together', 1: 'Widow'})

In [ ]:
food['education_2n Cycle'] = food['education_2n Cycle'].replace({1:1, 0:0})
food['education_Basic'] = food['education_Basic'].replace({1:2, 0:0})
food['education_Graduation'] = food['education_Graduation'].replace({1:3, 0:0})
food['education_Master'] = food['education_Master'].replace({1:4, 0:0})
food['education_PhD'] = food['education_PhD'].replace({1:5, 0:0})

In [ ]:
food['education_status'] = food [['education_2n Cycle', 'education_Basic', 'education_Graduation', 'education_Master', 'education_PhD' ]].sum(axis = 1)

In [ ]:
food['education_status_str'] = food['education_status'].map({1: 'education_2n Cycle', 2: 'education_Basic', 3: 'education_Graduation', 4: 'education_Master', 5: 'education_PhD'})

In [ ]:
food['Accepted_campaigns'] = food [['AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Response' ]].sum(axis = 1)

In [ ]:
food['Accepted_campaigns'] = (food['Accepted_campaigns'] != 0).astype(int)

In [ ]:
import seaborn as sns

In [ ]:
# Create a new DataFrame excluding object (string) types
numeric_food = food.select_dtypes(exclude=['object'])

# Run the correlation
numeric_food.corr(method = 'pearson')['Accepted_campaigns'].sort_values(ascending = False)

In [ ]:
all_correlations = numeric_food.corr(method = 'pearson')

all_correlations = all_correlations[(all_correlations > 0.3) & (all_correlations < 1)]


sns.heatmap(all_correlations)

In [ ]:
all_correlations['Accepted_campaigns']

In [ ]:
food['Age'].sort_values()

In [ ]:
age_groups = [(23,30), (31,40),(41,50),(51,60),(61,70), (71,85)]

def assign_age_group(Age):
    for age_range in age_groups:
        if age_range[0] <= Age <= age_range[1]:
            return f"{age_range[0]} - {age_range[1]}"
    return("Unknown")

food['Age_Group'] = food['Age'].apply(assign_age_group)

In [ ]:
food[['Age', 'Age_Group']].head()

In [ ]:
import seaborn as sns

In [ ]:
age_order = ['23 - 30', '31 - 40','41 - 50','51 - 60','61 - 70', '71 - 85']

sns.pointplot(data = food, x = 'Age_Group', y = 'Accepted_campaigns', order = age_order )

In [ ]:
food['Age_Group'].value_counts()

In [ ]:
counts = food['Age_Group'].value_counts()

In [ ]:
percentage = counts / food.shape[0]

In [ ]:
percent_food = percentage.reset_index()

In [ ]:
percent_food.columns = ['age_group', 'percentage']

In [ ]:
percent_food = percent_food.sort_values('age_group')

In [ ]:
percent_food

In [ ]:
import matplotlib.pyplot as plt
sns.barplot(x = 'age_group', y = 'percentage', data = percent_food)
plt.title('Percentage of Accepted Campaigns per Age Group')
plt.show()

In [ ]:
# Age Segmentation - core audience for accepting campaigns right noew is 31 - 70

In [ ]:
food.groupby('Age_Group')['MntTotal'].sum()

In [ ]:
grouped_food = food.groupby('Age_Group')['MntTotal'].sum().reset_index()

sns.barplot(x = 'Age_Group', y = 'MntTotal', data = grouped_food)
plt.title('Amount Spent Per Age Group')
plt.show()

In [ ]:
accepted_camp = food[food['Accepted_campaigns'] != 0]

grouped_food = accepted_camp.groupby('Age_Group')['MntTotal'].sum().reset_index()

sns.barplot(x = 'Age_Group', y = 'MntTotal', data = grouped_food)
plt.title('Amount Spent Per Age Group')
plt.show()

In [ ]:
sum_food = pd.DataFrame(food[['NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases']].sum(), columns = ['Sum'])

In [ ]:
sum_food = sum_food.reset_index()

In [ ]:
sum_food.rename(columns = {'index':'Type_Of_Purchase'})

In [ ]:

sum_food = pd.DataFrame(food[['NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases']].sum(), columns = ['Sum'])
sum_food = sum_food.reset_index()
sum_food = sum_food.rename(columns = {'index':'Type_Of_Purchase'})
sns.barplot(x = 'Type_Of_Purchase', y = 'Sum', data = sum_food)

In [ ]:
x = sns.jointplot(data = food, x = 'MntTotal', y = 'NumWebPurchases', kind = 'kde')
x.plot_joint(sns.regplot, color = 'r')

In [ ]:
x = sns.jointplot(data = food, x = 'MntTotal', y = 'NumCatalogPurchases', kind = 'kde')
x.plot_joint(sns.regplot, color = 'r')

In [ ]:
x = sns.jointplot(data = food, x = 'MntTotal', y = 'NumStorePurchases', kind = 'kde')
x.plot_joint(sns.regplot, color = 'r')

In [ ]:
sns.regplot(x = 'Total_Children', y = 'MntTotal', data = food)

In [ ]:
sns.regplot(x = 'Total_Children', y = 'Accepted_campaigns', data = food)

In [ ]:
sns.regplot(x = 'education_status', y = 'Accepted_campaigns', data = food)

In [ ]:
sns.regplot(x = 'education_status', y = 'MntTotal', data = food)

In [ ]:
food.head()

In [ ]:
sns.countplot(x = 'marital_Status_str', data = food)

In [ ]:
sns.regplot(x = 'marital_Status', y= 'Accepted_campaigns', data = food)

In [ ]:
rel_food = food.groupby('marital_Status_str')['MntTotal'].sum().reset_index()

In [ ]:
sns.barplot(x = ('marital_Status_str'), y = 'MntTotal', data = rel_food)

In [ ]:
# Marriage - Married, Single, together are spending a lot more money than widow and divorced. Focus on this segment